{% extends 'fitness/base.html' %}

{% block title %} Sports category {% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-2 col-md-2"><style> h2 {color: #2d4c69;} </style>
        <h2 align="center" style="color:#33cc33">Виды спорта</h2>
    {% for obj in sport_category_index %}
        {{ obj.full_name|upper }}<br>
    <h5><a href="{% url 'fitness:category' obj.id %}">{{ obj.name }}</a></h5>
    <hr>
    {% endfor %}
    </div>
    <div class="col-lg-5 col-md-5"><style> h1 {color: #2d4c69;} </style>
        <h2 align="center" style="color:#33cc33">{{ sport_category.name }}</h2>
            {% for obj in facilities|dictsort:'name' %}<br>
        <h2><a>{{ obj.name }} <img src="{{ obj.picture.url }}" width="200" height="300" alt="Sports Facility Image"></a></h2>
        <hr>
        <h5><a >{{ obj.description }} </a></h5>
        <hr>
        <h7><a >{{ obj.address }} </a></h7>
        <hr>
        <hr>
        {% endfor %}


</div>
    <div class="col-lg-5 col-md-5"><style> h1 {color: #2d4c69;} </style>
        <h2 align="center" style="color:#33cc33">Локации объектов</h2>

</div>

{% endblock %}
