{% extends 'fitness/base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-2 col-md-2"><style> h2 {color: #2d4c69;} </style>
    <h2 align="center" style="color:#33cc33">Виды спорта</h2>
    {% for obj in sport_category %}
        {{ obj.full_name|upper }}<br>
    <h5><a href="{% url 'fitness:category' obj.id %}">{{ obj.name }}</a></h5>
    <hr>
    {% endfor %}
    </div>
    <div class="col-lg-5 col-md-5"><style> h1 {color: #2d4c69;} </style>
    <h2 align="center" style="color:#33cc33">Спортивные объекты</h2>
    {% for category in page_obj %}
        {{ category.full_name|upper }}<br>
        <h2><a href="{% url 'fitness:get_services' category.id %}">{{ category.name }} &nbsp <img src="{{ category.picture.url }}" width="200" height="300" alt="Sports Facility Image"> </a></h2>
        <hr>
        <h5><a >{{ category.description }} </a></h5>
        <hr>
        <h7><a >{{ category.address }} </a></h7>
        <hr>
        <hr>

    {% endfor %}


    <div class="pagination" style="color: #33cc33;">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
    </div>
</div>
    <div class="col-lg-5 col-md-5"><style> h1 {color: #2d4c69;} </style>
    <h2 align="center" style="color:#33cc33">Локации объектов</h2>
        <br>
        <br>
        <br>
        <br>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A31a655a71fb2d0fb677db0aea4b426cb226e33d760fa54dd8294f6a6b21f456c&amp;width=665&amp;height=558&amp;lang=ru_RU&amp;scroll=true"></script>


</div>

{% endblock %}
