{% extends 'fitness/base.html' %}
{% block title %}My_shopping_cart{% endblock %}
{% block body %}
<div class="mt-2">
    <style> h1 {color: #00FF00;} </style>
    <h1>My shopping cart</h1>
    <br>
    <table class="table" align="left" bgcolor="DFF5D8">
        <h3> Your order, {{ user.username }} : </h3>
        <thead>
        <tr>
            <th scope="col">Спортивный центр</th>
            <th scope="col">Абонемент</th>
            <th scope="col">Описание</th>
            <th scope="col">Цена</th>
            <th scope="col">Дата начала</th>
            <th scope="col">Дата окончания</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
        <tr>
            <td> {{ entry.service.facility }} </td>
            <td>
                <a href="{% url 'fitness:detail' entry.service.id %}">{{ entry.service.name }}</a>
            </td>
            <td> {{ entry.service.description }} руб.</td>
            <td> {{ entry.service.price }} руб.</td>
            <td> {{ entry.start_date }} </td>
            <td> {{ entry.end_date }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p style="background-color:#DFF5D8;">Итоговая стоимость: &nbsp; <span id="total_price" class="font-weight-bold">{{ total_price }} руб.</span>
    </p>

    <form action="{% url 'fitness:shopping_cart_delete' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Очистить корзину" class="btn btn-danger"/>
            <i class="fa-solid fa-trash-can fa-2xl" style="color: #c01c28;"></i>
        </form>
    <br>
    <br>
    <form action="{% url 'fitness:make_order' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Сделать заказ" class="btn btn-danger"/>
            <i class="fa-solid fa-cash-register fa-2xl" style="color: #e01b24;"></i>
        </form>

    {% endblock %}
